name: Run Python script

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install Gradio
      run: python -m pip install gradio

    - name: Install/upgrade Hugging Face tools
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade huggingface_hub

    - name: Write Hugging Face token to file
      run: |
        mkdir -p ~/.huggingface
        echo "${{ secrets.hf_token }}" > ~/.huggingface/token
        chmod 600 ~/.huggingface/token

    - name: Deploy to Spaces
      run: gradio deploy
